<div class="container" *ngIf="review">

  <div class="session-details">
    <h3>{{review.review_name}}</h3>
    <div>
      <label>ID: </label>
      <span>{{ review.id }}</span>
    </div>
    <div>
      <label>Name: </label>
      {{review.review_name}}
    </div>
    <div><label>Name: </label>{{review.review_name}}</div>
    <div><label>Description: </label>{{review.review_description}}</div>
    <div><label>Score:</label>{{review.score}}</div>
  </div>

  <div class="input-group">
    <label for="session-name">Name: </label>
    <input id="session-name" [(ngModel)]="review.review_name" placeholder="Enter review name">
    <label for="review-description">Description: </label>
    <input id="review-description" [(ngModel)]="review.review_description" placeholder="Enter review description">
    <label for="review-score">Description: </label>
    <input id="review-score" [(ngModel)]="review.score" placeholder="Enter review score">
  </div>
  <button mat-flat-button (click)="save()">Save</button>
</div>
