<div class="container">
  <h3>Speakers</h3>

  <clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>First name</clr-dg-column>
    <clr-dg-column>Last name</clr-dg-column>
    <clr-dg-column>Delete</clr-dg-column>

    <clr-dg-row *clrDgItems="let speaker of speakers">
      <clr-dg-cell>{{speaker.id}}</clr-dg-cell>
      <clr-dg-cell><a routerLink="/speakers/{{speaker.id}}">{{speaker.first_name}}</a></clr-dg-cell>
      <clr-dg-cell>{{speaker.last_name}}</clr-dg-cell>
      <clr-dg-cell><button class="btn btn-sm" (click)="delete(speaker)">delete</button></clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{speakers.length}} speakers</clr-dg-footer>
  </clr-datagrid>

  <h3>Create new speaker</h3>

  <div class="clr-form-control" [formGroup]="speakerForm">

    <label for="first_name" class="clr-control-label">First name</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input [formControlName]="'first_name'" type="text" id="first_name" placeholder="Enter first name" class="clr-input" />
      </div>
    </div>


    <label for="last_name" class="clr-control-label">Last name</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input [formControlName]="'last_name'" type="text" id="last_name" placeholder="Enter last name" class="clr-input" />
      </div>
    </div>

    <button class="btn btn-primary" (click)="createSpeaker()">
      Create speaker
    </button>
  </div>

</div>
