
<button type="button" class="btn btn-primary" (click)="showCreate()">
  <clr-icon shape="plus"></clr-icon>
  session
</button>

<clr-modal [(clrModalOpen)]="show">
  <h3 class="modal-title">Create session</h3>
  <div class="modal-body">
    <form class="clr-form-control" [formGroup]="sessionForm">

      <label for="name" class="clr-control-label">Name</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input [formControlName]="'session_name'" type="text" id="name" placeholder="Enter name" class="clr-input" />
        </div>
      </div>

      <label for="description" class="clr-control-label">Description</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input [formControlName]="'session_description'" type="text" id="description" placeholder="Enter name" class="clr-input" />
        </div>
      </div>

      <label for="length" class="clr-control-label">Length</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input [formControlName]="'session_length'" type="number" id="length" placeholder="Enter length" class="clr-input" />
        </div>
      </div>

      <label for="start" class="clr-control-label">Start</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input [formControlName]="'session_start'" type="text" id="start" placeholder="Enter start" class="clr-input" />
        </div>
      </div>

      <label for="end" class="clr-control-label">End</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input [formControlName]="'session_end'" type="text" id="end" placeholder="Enter end" class="clr-input" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="resetState()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!sessionForm.valid" (click)="createSession()">Create</button>
  </div>
</clr-modal>


<clr-datagrid>
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Length</clr-dg-column>
  <clr-dg-column>Start</clr-dg-column>
  <clr-dg-column>End</clr-dg-column>
  <clr-dg-column>Delete</clr-dg-column>

  <clr-dg-row *clrDgItems="let session of sessions">
    <clr-dg-cell>{{session.id}}</clr-dg-cell>
    <clr-dg-cell><a routerLink="/sessions/{{session.id}}">{{session.session_name}}</a></clr-dg-cell>
    <clr-dg-cell>{{session.session_description}}</clr-dg-cell>
    <clr-dg-cell>{{session.session_length}}</clr-dg-cell>
    <clr-dg-cell>{{session.session_start}}</clr-dg-cell>
    <clr-dg-cell>{{session.session_end}}</clr-dg-cell>
    <clr-dg-cell><button class="btn btn-sm" (click)="delete(session)">delete</button></clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{sessions.length}} sessions</clr-dg-footer>
</clr-datagrid>


