<header class="header-6">
  <div class="branding">
    <a href="http://localhost:4200/dashboard">
      <cds-icon shape="calendar"></cds-icon>
      <span class="title">Conference application</span>
    </a>
  </div>
</header>
<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/dashboard'" [routerLinkActive]="'active'">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/sessions'" [routerLinkActive]="'active'">Sessions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/speakers'" [routerLinkActive]="'active'">Speakers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/reviews'" [routerLinkActive]="'active'">Reviews</a>
    </li>
  </ul>
</nav>

<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="footer">
  <div class="vertical-center">
    <span class="info">SE track spring boot application</span>
  </div>
</div>





