<div class="container">
  <h3>Sessions</h3>
  <clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <clr-dg-column>Length</clr-dg-column>

    <clr-dg-row *ngFor="let session of sessions">
      <clr-dg-cell>{{session.id}}</clr-dg-cell>
      <clr-dg-cell>{{session.session_name}}</clr-dg-cell>
      <clr-dg-cell>{{session.session_description}}</clr-dg-cell>
      <clr-dg-cell>{{session.session_length}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{sessions.length}} sessions</clr-dg-footer>
  </clr-datagrid>

  <h3>Speakers</h3>
  <clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>First name</clr-dg-column>
    <clr-dg-column>Last name</clr-dg-column>

    <clr-dg-row *ngFor="let speaker of speakers">
      <clr-dg-cell>{{speaker.id}}</clr-dg-cell>
      <clr-dg-cell>{{speaker.first_name}}</clr-dg-cell>
      <clr-dg-cell>{{speaker.last_name}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{speakers.length}} speakers</clr-dg-footer>
  </clr-datagrid>

  <h3>Reviews</h3>
  <clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Title</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <clr-dg-column  [clrDgField]="'score'"  [clrDgField]="'score'" [clrDgColType]="'number'">Score</clr-dg-column>

    <clr-dg-row *ngFor="let review of reviews">
      <clr-dg-cell>{{review.id}}</clr-dg-cell>
      <clr-dg-cell>{{review.review_name}}</clr-dg-cell>
      <clr-dg-cell>{{review.review_description}}</clr-dg-cell>
      <clr-dg-cell>{{review.score}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{reviews.length}} reviews</clr-dg-footer>
  </clr-datagrid>
</div>
