<div class="container">

  <h3>Reviews</h3>

  <clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <clr-dg-column>Score</clr-dg-column>
    <clr-dg-column>Delete</clr-dg-column>

    <clr-dg-row *clrDgItems="let review of reviews">
      <clr-dg-cell>{{review.id}}</clr-dg-cell>
      <clr-dg-cell><a routerLink="/reviews/{{review.id}}">{{review.review_name}}</a></clr-dg-cell>
      <clr-dg-cell>{{review.review_description}}</clr-dg-cell>
      <clr-dg-cell>{{review.score}}</clr-dg-cell>
      <clr-dg-cell><button class="btn btn-sm" (click)="delete(review)">delete</button></clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{reviews.length}} reviews</clr-dg-footer>
  </clr-datagrid>

  <h3>Create new review</h3>
  <div class="clr-form-control" [formGroup]="reviewForm">

    <label for="name" class="clr-control-label">Name</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input [formControlName]="'review_name'" type="text" id="name" placeholder="Enter name" class="clr-input" />
      </div>
    </div>

    <label for="description" class="clr-control-label">Description</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input [formControlName]="'review_description'" type="text" id="description" placeholder="Enter description" class="clr-input" />
      </div>
    </div>

    <label for="score" class="clr-control-label">Score</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input [formControlName]="'score'" type="text" id="score" placeholder="Enter score" class="clr-input" />
      </div>
    </div>

    <button class="btn btn-primary" (click)="createReview()">
      Create review
    </button>
  </div>

</div>
